.title{
    background-color: rgb(49, 75, 75);
    color:floralwhite;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0px;
}
.components{
    background-color: rgb(20, 31, 31);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}